html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.page {
    padding: 0;
    margin: 0;
    font-family: 'Alata', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    height: 100vh;
}

.page__header {
    background-image: url("images/mobile/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr;
}

.page__logoContainer {
    align-self: start;
    display: flex;
    align-items: center;
    z-index: 2;
    justify-content: space-between;
    margin-top: 2rem;
    width: min(90%, 500px);
    justify-self: center;
}

.page__hamburgerMenu {
    background: black;
    width: 100%;
    height: inherit;
    position: absolute;
    top: -100%;
    color: white;
    display: grid;
    place-items: center start;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    transition: top .5s ease-in-out;
}

.page__hamburgerMenu--isActive {
    top: 0;
}

.nav--burger {
    display: grid;
    grid-gap: 1.5rem;
    width: min(90%, 500px);
    justify-self: center;
    position: relative;
    top: -8rem;
}

.hide {
    display: none;
}

.page__mainTitle {
    color: white;
    border: 2px solid white;
    align-self: start;
    text-transform: uppercase;
    min-width: 320px;
    width: min(90%, 600px);
    justify-self: center;
    font-size: clamp(2.5rem, 8vw, 4rem);
    padding: 2rem;
    line-height: clamp(2.5rem, 8vw, 4rem);
    font-weight: 300;
    grid-column: span 2;
    display: grid;
    align-items: center;
}

.article {
    margin-top: 5.5rem;
    display: grid;
    justify-items: center;
}

.article__image {
    width: 90%;
}

.article__container{
    padding: 0 2.5rem;
    font-size: clamp(.9rem, 1.5vw, 1.2rem);
}

.article__title {
    text-transform: uppercase;
    text-align: center;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    margin-top: 3rem;
    font-weight: 300;
    margin-bottom: 0;
}

.article__text {
    text-align: center;
    line-height: 1.5;
    opacity: 0.4;
}

.page__creations {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1.5rem;
    margin: 4rem 0;
    width: min(90%, 1400px);
}

.page__creationsHeader {
    grid-column: 1 /-1;
}

.page__creationsTitle {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: clamp(2rem, 4vw, 3rem);
}

.page__poster {
    position: relative;
    height: 100%;
    display: grid;
    place-items: end start;
}

.page__image:hover {
    opacity: 0.4;
}

.page__poster:hover>* {
    color: black;
}

.page__image {
    width: 100%;
    display: block;
    filter: brightness(0.7);
}

.page__posterTitle {
    color: rgb(255, 255, 255);
    position: absolute;
    z-index: 2;
    text-transform: uppercase;
    padding-left: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 1.25rem;
}

.page__btn--mobile {
    grid-column: 1/-1;
}
.page__btn--desktop{
    display: none;
}
.page__btn{
    text-decoration: none;
    justify-self: center;
    padding: .75rem 3.5rem;
    background: unset;
    border: 1px solid black;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
}

.page__content{
    display: grid;
    justify-items: center;
}

.page__btn:active {
    color: white;
    background: black;
}

.page__footer {
    height: 55%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.page__container--right{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.nav__social{
    flex: 1;
}
.page__credits{
    flex: 1;
}

.nav--footer {
    display: flex;
    padding-top: 1rem;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.page__logo--footer {
    width: 185px;
}

.nav--header {
    display: none;
    margin: 2rem 5rem 0 0;
    color: #fff;
    font-size: 1rem;
}

.nav__social {
    padding: 1rem 0 1rem 0;
    display: flex;
    gap: 1rem;
}

.page__credits {
    opacity: 0.4;
    font-family: 'Josefin Sans', sans-serif;
}

.icon::before {
    content: "";
    width: 0;
    background-color: #fff;
    height: 2px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    bottom: -5px;
    transition: width 0.25s ease-in-out;
}

.icon:hover::before {
    width: 50%;
}

.icon {
    position: relative;
    cursor: pointer;
}

.nav__link {
    justify-self: start;
}

@media only screen and (min-width: 600px) {
    .page__header {
        background: url("images/desktop/image-hero.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 65%;
        padding-left: 5rem;
    }

    .page__mainTitle {
        height: 60%;
        justify-self: start;
    }

    .page__logoContainer {
        justify-self: start;
        width: 95%;
    }

    .page__hamburgerMenu {
        margin-left: -5rem;
    }

    .nav--burger {
        justify-self: start;
        width: 95%;
        padding-left: 5rem;
        top: 0;
    }
}

@media only screen and (min-width: 1081px) {
    .page__hamburger {
        display: none;
    }

    .nav--header {
        display: flex;
        gap: 2rem;
        align-items: start;
    }
    .page__creations{
        grid-template-columns: repeat(4, minmax(200px, 400px));
    }
    .page__btn--mobile{
        display: none;
    }
    .page__btn--desktop{
        display: unset;
    }
    .page__creationsHeader{
        display: grid;
        align-items: center;
        justify-content: space-between;
    }
    .page__creationsTitle{
        grid-column: 1;
    }
    .page__btn--desktop{
        grid-column: 2;
    }
    .page__footer{
        flex-direction: row;
        justify-content: space-around;
        height: 20%;
        margin-top: 4rem;
    }
    .nav--footer{
        flex-direction: row;
    }
    .page__container--right{
        align-items: end;
    }
    .page__posterTitle{
        font-size: 2.1rem;
    }
}

@media only screen and (min-width: 800px){
    .article__image{
        width: 60%;
        min-width: 500px;
        z-index: 1;
        justify-self: start;
    }
    .article__container{
        min-width: 400px;
        width: min(50%, 800px);
        z-index: 2;
        position: absolute;
        background: white;
        bottom: -15%;
        right: 2%;
        padding: 4rem 3rem;
    }
    .article__title{
        text-align: start;
        margin: 0;
        padding: 0;
    }
    .article__text{
        font-size: .8rem;
        text-align: start;
        margin: .5rem 0 0 0;
        width: 90%;
    }
    .article{
        position: relative;
        width: min(90%, 1150px);
    }
    .page__content{
        display: grid;
        justify-items: center;
    }
}

@media only screen and (min-width: 1500px) {
    .page__header {
        background-position: unset;
    }
}